<div class="header-bg-contact">
	<app-navbar></app-navbar>
	<div class="container padd-section">
		<div class="title-section text-center wow fadeInDown">
			<h1 class="title-page">Contáctanos</h1>
			<h2 class="subtitle-page">Un grupo de expertos te esta esperando</h2>
		</div>
		<div class="row align-items-center">
			<div class="col-md-6 text-center m-b-20 wow fadeInUp">
				<div class="box-contact-us">
					<div class="title-contact-us">
						<p>Queremos saber de ti</p>
						<h1>Mandanos un mensaje</h1>
					</div>
					<div class="body-contact-us wow fadeInUp">
						<a class="btn btn-normal" href="mailTo:hello@hiperion-tech.com?subject=Hola, estoy interesado en sus servicios y tengo una idea"> Mensaje <i class="fa fa-envelope" aria-hidden="true"></i></a>
					</div>
				</div>	
			</div>	
			<div class="col-md-6 text-center wow fadeInUp">
				<div class="box-info">
					<div class="title-contact-info">
						<h1>Información de contacto</h1>
					</div>
					<div class="body-contact-info">
						<div class="location">
							<i class="fa fa-map-o" aria-hidden="true"></i>
							<p>Nigromante 805 Zona Centro C.P 25000 <br>Saltillo, Coahuila, México</p>
						</div>
						<div class="phone">
							<i class="fa fa-phone" aria-hidden="true"></i>
							<p>(844) 241 0592</p>
						</div>
						<div class="email">
							<i class="fa fa-envelope-o" aria-hidden="true"></i>
							<p>hello@hiperion-tech.com</p>
						</div>
					</div>
					<div class="social d-flex justify-content-around wow fadeInUp">
						<a href="https://www.facebook.com/HiperionTech/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
						<a href="https://twitter.com/Hiperion_Tech" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
						<a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>
					</div>	
				</div>	
			</div>
		</div>
	</div>
</div>