<div class="header-bg-iot">
	<app-navbar></app-navbar>
	<div class="container padd-section">
		<div class="row">
			<div class="col-lg-12 text-center wow fadeInDown">
				<h1 class="title-page">Internet de las cosas (IoT)</h1>
				<h2 class="subtitle-page">Soluciones de tecnología basadas en IoT</h2>
				<!--<div class="decorator"></div>-->
			</div>			
		</div>
	</div>
</div>
<section class="what-is-iot padd-section">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center wow fadeInUp">
				<h1 class="title-black">¿Que es el Internet de las cosas (<span>IoT</span>)?</h1>
				<p>Internet de las cosas o Internet Of Things es el concepto de interconectar objetos cotidianos a internet como herramientas identificadoras de mascotas o personales, automóviles, electrodomésticos  entre otros, uno de sus objetivos es poder monitorear la información que estos producen, poder enviar datos entre ellos sin necesidad de interacción y tener una identificación individual y única.</p>
			</div>
		</div>
	</div>
</section>
<section class="how-work padd-section">
	<div class="container">
		<div class="title-section">
			<h1 class="title-black text-center wow fadeInUp">¿Como funciona?</h1>
		</div>
		<div class="row">
			<div class="col-md-4 wow fadeInUp">
				<div class="box-why">
					<div class="icon">
						<i class="fa fa-connectdevelop" aria-hidden="true"></i>
					</div>
					<div class="description">
						<p>Conecta dispositivos sensores a través de internet de manera privada y segura.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 wow fadeInUp">
				<div class="box-why">
					<div class="icon">
						<i class="fa fa-cloud-upload" aria-hidden="true"></i>
					</div>
					<div class="description">
						<p>Almacena datos útiles en la nube de sensores.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 wow fadeInUp">
				<div class="box-why">
					<div class="icon">
						<i class="fa fa-video-camera" aria-hidden="true"></i>
					</div>
					<div class="description">
						<p>Automatiza alarmas y monitorea cámaras de manera automática.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 wow fadeInUp">
				<div class="box-why">
					<div class="icon">
						<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
					</div>
					<div class="description">
						<p>Diseño y construcción de dispositivos de IOT.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 wow fadeInUp">
				<div class="box-why">
					<div class="icon">
						<i class="fa fa-mobile" aria-hidden="true"></i>
					</div>
					<div class="description">
						<p>Desarrollo de aplicaciones para dispositivos IOT o dispositivos electrónicos.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="contact-us padd-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 start-with-us text-center wow fadeInUp">
				<h1>Internet de las cosas</h1>
				<h2>Transforma tu empresa con nuestras soluciones IoT</h2>
			</div>
		</div>
	</div>
</section>
