<footer>
	<div class="container">
		<div class="row padd-footer">
			<div class="col-lg-4">
				<h2 class="title-footer">Acerca de</h2>
				<p>En Hiperion somos un grupo de profesionistas de una amplia rama tecnológica en busca de cubrir las necesidades de nuestros clientes de la forma más atenta y servicial que nos distingue.</p>
			</div>
			<div class="col-lg-4">
				<h2 class="title-footer">Redes Sociales</h2>
				<a href="https://www.facebook.com/HiperionTech/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
				<a href="https://twitter.com/Hiperion_Tech" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
				<a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>
			</div>
			<div class="col-lg-4">
				<h2 class="title-footer">Contacto</h2>
				<div class="location">
					<p><i class="fa fa-map" aria-hidden="true"></i>Nigromante #805 Zona Centro</p>
				</div>
				<div class="phone">
					<p><i class="fa fa-phone" aria-hidden="true"></i>844 241 0592</p>
				</div>
				<div class="email">
					<p><i class="fa fa-envelope" aria-hidden="true"></i>hello@hiperion-tech.com</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 subfooter">
				<p class="text-center">&copy; 2017 Hiperion Technologies</p>
			</div>
		</div>
	</div>
</footer>
