
	<div class="header-bg">
		<app-navbar></app-navbar>
		<div class="container padd-header">
			<div class="row align-items-center">
				<div class="col-lg-5 col-md-6 wow fadeInLeft">
					<h1>Mejora tus procesos con <br>
					<span>Inteligencia Artificial</span>
					</h1>
					<p>Con nuestras soluciones de inteligencia artificial podrás optimizar los procesos de tu empresa y llevarla a otro nivel.</p>
					<button [routerLink]="['/inteligencia-artificial']"  type="button" class="btn btn-blue">Explora más</button>
				</div>
				<div class="col-lg-7 col-md-6 d-flex justify-content-center wow fadeInRight">
					<figure class="ia">
						<img src="assets/img/ia-hiperion.png" alt="Inteligencia Artificial Hiperion">
					</figure>
				</div>
			</div>
		</div>
			
	</div>
	<section class="services padd-section">
		<div class="container">
			<h1 class="title-black text-center wow fadeInUp">Conoce nuestros<span> servicios</span></h1>
			<div class="row text-center">
				<div class="col-lg-4 col-md-6 wow fadeInUp">
					<div class="service-box">
						<div class="icon">
							<img src="assets/img/service-ia.png" class="img-fluid" alt="Inteligencia Artificial ">
						</div>
						<div class="description">
							<h1>Soluciones Tecnológicas</h1>
							<p>Automatización y gestion de procesos con inteligencia artificial para la industria</p>
						</div>	
					</div>
				</div>
				<div class="col-lg-4 col-md-6 wow fadeInUp">
					<div class="service-box">
						<div class="icon">
							<img src="assets/img/service-iot.png" class="img-fluid" alt="Internet de las cosas ">
						</div>
						<div class="description">
							<h1>IOT</h1>
						<p>Desarrollo de sistemas y dispositivos IOT</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 wow fadeInUp">
					<div class="service-box">
						<div class="icon">
							<img src="assets/img/service-domotica.png" class="img-fluid" alt="Domotica Hiperion">
						</div>
						<div class="description">
							<h1>Domótica</h1>
							<p>Automatizamos tu hogar u oficina con inteligencia artificial</p>
						</div>							
					</div>
				</div>
				<div class="col-lg-4 col-md-6 wow fadeInUp">
					<div class="service-box">
						<div class="icon">
							<img src="assets/img/service-dev.png" class="img-fluid" alt="Desarrollo Web ">
						</div>
						<div class="description">
							<h1>Desarrollo Web</h1>
							<p>Desarrollo de aplicaciones web a la medida de tu empresa, adaptables a cualquier dispositivo y escalables</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 wow fadeInUp">
					<div class="service-box">
						<div class="icon">
							<img src="assets/img/service-app.png" class="img-fluid" alt="Aplicaciones móviles">
						</div>
						<div class="description">
							<h1>Aplicaciones Móviles</h1>
							<p>Desarrollo de aplicaciones móviles para IOS y Android</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 wow fadeInUp">
					<div class="service-box">
						<div class="icon">
							<img src="assets/img/service-aws.png" class="img-fluid" alt="Amazon web services">
						</div>
						<div class="description">
							<h1>Amazon Web Services</h1>
							<p>Soluciones en la nube de AWS</p>
						</div>							
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="why-choose padd-section">
		<div class="container">
			<h1 class="title-black text-center wow fadeInUp">¿Porque <span>elegirnos</span>?</h1>
			<div class="row align-items-center">
				<div class="col-lg-7 d-flex justify-content-center wow pulse" data-wow-duration="2s" data-wow-iteration="3">
				<figure class="wc">
					<img src="assets/img/why-choose.png" alt="Why Hiperion Technologies">
				</figure>					
				</div>
				<div class="col-lg-5 wow fadeInUp">
					<h6 class="why-black">En Hiperion buscamos innovar las formas de trabajo de su empresa con inteligencia artificial.</h6>
					<p class="text-justify">Conocemos lo frustrante que es el manejo de la tecnología cuando avanza a pasos agigantados, es por eso que entendemos a nuestros clientes y no tienen de qué preocuparse al intentar desarrollar un proyecto, desde un pequeño sitio web hasta una solución con visión artificial, no importa la magnitud, la confianza es primero.</p>
				</div>
			</div>
		</div>
	</section>
	<section class="contact-us padd-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 start-with-us text-center wow fadeInUp">
					<h1>Comienza con nosotros</h1>
					<h2>Cuentanos sobre tu idea y permitenos hacerla un éxito</h2>
					<button class="btn btn-blue" [routerLink]="['/contacto']">Contáctanos</button>
				</div>
			</div>
		</div>
	</section>