<div class="header-bg-domotica">
	<app-navbar></app-navbar>
	<div class="container padd-section">
		<div class="row">
			<div class="col-lg-12 text-center wow fadeInDown">
				<h1 class="title-page">Domótica en el area residencial y empresarial</h1>
				<h2 class="subtitle-page">Automatizamos hogares y oficinas con sistemas inteligentes brindando comodidad y seguridad.</h2>
			</div>			
		</div>
	</div>
</div>
<section class="what-is-domotica padd-section">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center wow fadeInUp">
				<h1 class="title-black">¿Que es la <span>domótica</span>?</h1>
				<p>Domótica es la relación entre la idea de casa y tecnología, se puede considerar como la vivienda que integra herramientas de automatización en seguridad, gestión de la energía, comunicaciones, entre otras, los servicios son llevados a cabo por funciones que pueden estar conectadas entre sí, con redes interiores y exteriores de comunicaciones, donde los equipos electrónicos permiten automatizar tareas cotidianas de manera local o remota en viviendas y edificios.</p>
			</div>
		</div>
	</div>
</section>
<section class="padd-section">
	<div class="container">
		<div class="title-section">
			<h1 class="title-black text-center wow fadeInUp">Conectamos tu hogar y oficina</h1>
		</div>		
		<div class="row">
			<div class="col-md-4 wow fadeInUp">
				<div class="box-why">
					<div class="icon">
						<img src="assets/img/monitoreo-sensor.png" alt="Monitore de sensores">
					</div>
					<div class="description">
						<h1>Monitoreo de sensores</h1>
						<p>Lectura y recopilación de información del entorno para distintas áreas del hogar con el objetivo de ajustar los controles dependiendo del clima, situaciones o actividades por ejemplo detectores de humo para activar alarmas, termómetros para calibrar el clima o detectores de humedad para iniciar el riego jardines.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 wow fadeInUp">
				<div class="box-why">
					<div class="icon">
						<img src="assets/img/control-electrico.png" alt="Control electrico">
					</div>
					<div class="description">
						<h1>Control eléctrico</h1>
						<p>Automatización de la red eléctrica, la iluminación y la distribución de la corriente control de encendido y apagado de dispositivos.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 wow fadeInUp">
				<div class="box-why">
					<div class="icon">
						<img src="assets/img/dispositivos-entretenimiento.png" alt="Control de dispositivos de entretenimiento">
					</div>
					<div class="description">
						<h1>Control de dispositivos de entretenimiento</h1>
						<p>Sincronización con electrónicos para distribución de contenido, optimización, transmisión de información, control parental.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 wow fadeInUp">
				<div class="box-why">
					<div class="icon">
						<img src="assets/img/control-comunicacion.png" alt="Control de redes de comunicación">
					</div>
					<div class="description">
						<h1>Control de redes de comunicación</h1>
						<p>Monitoreo de seguridad, distribución de contenido, monitoreo de tráfico, optimización de la señal, disponibilidad.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 wow fadeInUp">
				<div class="box-why">
					<div class="icon">
						<img src="assets/img/control-seguridad.png" alt="Control de sistemas de seguridad">
					</div>
					<div class="description">
						<h1>Control de sistemas de seguridad</h1>
						<p>Sistemas de vigilancia control y contingencias, alarmas, alertas, diagnósticos.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 wow fadeInUp">
				<div class="box-why">
					<div class="icon">
						<img src="assets/img/control-clima.png" alt="Control de clima">
					</div>
					<div class="description">
						<h1>Control de clima</h1>
						<p>Ajustes automáticos en reacción al entorno, temperatura , iluminación, humedad.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="contact-us padd-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 start-with-us text-center wow fadeInUp">
				<h1>Casas inteligentes</h1>
				<h2>Tecnología y comodidad en tu hogar y oficina</h2>
			</div>
		</div>
	</div>
</section>
