<div class="header-bg-ia">
	<app-navbar></app-navbar>
	<div class="container padd-section">
		<div class="row">
			<div class="col-lg-12 text-center wow fadeInDown">
				<h1 class="title-page">Inteligencia Artificial</h1>
				<h2 class="subtitle-page">Automatiza y gestiona los procesos de tu empresa con AVA tu asistente de visión artificial</h2>
			</div>			
		</div>
	</div>
</div>
<section class="what-is-ava padd-section">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center wow fadeInUp">
				<h1 class="title-black">¿Que es <span>AVA</span>?</h1>	
				<p>AVA (Asistente de Vision Artificial) es un software inteligente que procesa e interpreta imágenes, reconoce y analiza movimientos, características físicas visibles de objetos, la relación de espacio y posición entre los elementos.</p>
			</div>
		</div>
	</div>
</section>
<section class="modular padd-section">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-md-6 col-lg-5 wow fadeInLeft">
				<h1 class="title-black">Software Modular</h1>
				<p>Un módulo es un elemento con función propia que puede ser agrupado de distintas maneras con otros elementos constituyendo una unidad mayor, es decir, AVA se compone de módulos como reconocimiento, medición, lectura de caracteres, sin la necesidad de comprar varios sistemas o cámaras para uso distinto, AVA es tu asistente de visión perfecto para tu proyecto.</p>
			</div>
			<div class="col-md-6 col-lg-7 d-flex justify-content-center wow fadeInRight">
				<figure>
					<img src="assets/img/modular.png" alt="Software Modular Hiperion Technologies">
				</figure>
			</div>
		</div>
	</div>
</section>
<section class="multiplataforma padd-section">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-md-6 col-lg-7 d-flex justify-content-center wow fadeInLeft">
				<figure>
					<img src="assets/img/multiplataforma.png" alt="Software Multiplataforma Hiperion Technologies">
				</figure>
			</div>
			<div class="col-md-6 col-lg-5 wow fadeInRight">
				<h1 class="title-black">Software Multiplataforma</h1>
				<p>Hoy en día es muy complicado adaptarse a un sistema complejo, conocer piezas, lenguajes, por eso, AVA se adapta a la medida del sistema operativo que utiliza tu empresa, está disponible desde los sistemas operativos principales como Windows y IOS hasta plataformas libres como Android y linux.</p>
			</div>
		</div>
	</div>
</section>
<!--<section class="video padd-section">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center wow fadeInUp">
				<iframe width="560" height="315" [src]=" video | domseguro:'https://www.youtube.com/embed/'" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
	</div>
</section>
-->
<section class="why-ava padd-section">
	<div class="container">
		<div class="title-section text-center">
			<h1 class="title-black wow fadeInUp">¿Por que usar <span>AVA</span>?</h1>
		</div>		
		<div class="row">
			<div class="col-md-4 wow fadeInUp">
				<div class="box-why">
					<div class="icon">
						<img src="assets/img/solucion-integral.png" alt="Solucion Integral Ava">
					</div>
					<div class="description">
						<h1>Solución Integral</h1>
						<p>Actualmente los sistemas de visión artificial convencionales, se controlan mediante módulos específicos, AVA puede manejar todas las funciones de un sistema de visión artificial en un solo software.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 wow fadeInUp">
				<div class="box-why">
					<div class="icon">
						<img src="assets/img/presencia-ausencia.png" alt="Presencia y Ausencia Ava">
					</div>
					<div class="description">
						<h1>Presencia/Ausencia</h1>
						<p>AVA puede analizar un área donde entre otras funciones, puede definir en cada imagen las regiones de interés y en ellas buscar objetos, medir distancias y reconocer patrones para verificar los procesos de calidad, control de presencia de piezas, ensamblaje, etc.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 wow fadeInUp">
				<div class="box-why">
					<div class="icon">
						<img src="assets/img/inspeccion.png" alt="Inspección Ava">
					</div>
					<div class="description">
						<h1>Inspección</h1>
						<p>AVA también puede comprobar la conformidad de una pieza con ciertos requisitos, tales como las dimensiones, números de serie, la presencia de componentes, etc.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 wow fadeInUp">
				<div class="box-why">
					<div class="icon">
						<img src="assets/img/guia-alineacion.png" alt="Guía y Alineación Ava">
					</div>
					<div class="description">
						<h1>Guía/Alineación</h1>
						<p>Si se quiere obtener una imagen precisa del objeto a analizar, la función de alineación de AVA son críticos para un proceso de alta calidad.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 wow fadeInUp">
				<div class="box-why">
					<div class="icon">
						<img src="assets/img/ocr-ocv.png" alt="OCR y OCV Ava">
					</div>
					<div class="description">
						<h1>OCR/OCV</h1>
						<p>Sí hay que trabajar con texto, etiquetas, o números, la función de lectura de caracteres (OCR) o la función de verificación de caracteres (OCV) de AVA ofrecen el resultado óptimo sobre las imágenes.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 wow fadeInUp">
				<div class="box-why">
					<div class="icon">
						<img src="assets/img/medicion.png" alt="Cálculo y Medicción Ava">
					</div>
					<div class="description">
						<h1>Cálculo/Medicción</h1>
						<p>Mediante la obtención de las magnitudes físicas, AVA puede verificar que dichas magnitudes corresponden con un patrón especificado de un objeto.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="contact-us padd-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 start-with-us text-center wow fadeInUp">
				<h1>Inteligencia Artificial</h1>
				<h2>Todo lo que los sistemas de visión artificial convencional pueden ofrecer al alcance en un solo sistema, sin necesidad de muchos sistemas o sensores, sino un solo sistema para todas estas funciones.</h2>
			</div>
		</div>
	</div>
</section>
