<div class="header-bg-aws">
	<app-navbar></app-navbar>
	<div class="container padd-section">
		<div class="row">
			<div class="col-lg-12 text-center wow fadeInDown">
				<h1 class="title-page">Amazon Web Services</h1>
				<h2 class="subtitle-page">Servicios de Infraestructura de TI en la nube</h2>
			</div>			
		</div>
	</div>
</div>
<section class="what-is padd-section">
	<div class="container">
		<div class="row text-center">
			<div class="col-md-12 wow fadeInUp">
				<h1 class="title-black">¿Que es <span>AWS</span>?</h1>
				<p>Amazon Web Services es una de las principales plataformas de computación en nube que ofrece un conjunto de servicios de cómputo remoto confiable, escalable y de bajo costo.</p>
			</div>
		</div>
	</div>
</section>
<section class="why-use padd-section">
	<div class="container">
		<div class="title-section">
			<h1 class="title-black text-center wow fadeInUp">¿Porque elegir <span>Amazon Web Services</span>?</h1>
		</div>
		<div class="row align-items-center">
			<div class="col-md-4">
				<div class="col-md-12">
					<div class="box-why wow fadeInUp">
						<div class="icon">
							<img src="assets/img/elasticidad.png" alt="Elasticidad y Agilidad aws">
						</div>
						<div class="description">
							<h1>Agilidad y elasticidad</h1>
							<p>AWS ofrece una completa infraestructura global de nube que le permite innovar, experimentar e iterar rápidamente.</p>
						</div>
					</div>
					<div class="box-why wow fadeInUp">
						<div class="icon">
							<img src="assets/img/flexibilidad.png" alt="Flexibilidad aws">
						</div>
						<div class="description">
							<h1>Flexibilidad</h1>
							<p>Variedad de OS, plataformas y modelos de programación, usted elige la plataforma de desarrollo o modelo de programación que tiene más sentido para su negocio.</p>
						</div>
					</div>
				</div>
					
			</div>
			<div class="col-md-4 d-flex justify-content-center wow pulse">
				<figure>
					<img src="assets/img/amazon-web-services.png" alt="Sericios de Amazon Web Services Hiperion">
				</figure>
			</div>
			<div class="col-md-4">
				<div class="box-why wow fadeInUp">
					<div class="icon">
						<img src="assets/img/costo.png" alt="Bajo costo aws">
					</div>
					<div class="description">
						<h1>Bajo Costo</h1>
						<p>Amazon Web Services se basa en un modelo de fijación de precios sin gastos iniciales ni compromisos a largo plazo. Pague sólo por lo que se utiliza, sin necesidad de pago inicial.</p>
					</div>
				</div>
				<div class="box-why wow fadeInUp">
					<div class="icon">
						<img src="assets/img/control-seguridad.png" alt="Seguridad aws">
					</div>
					<div class="description">
						<h1>Seguridad</h1>
						<p>Amazon Web Services es una plataforma tecnológica segura y duradera con certificaciones y auditorías reconocidas por la industria.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="aws padd-section">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center wow fadeInUp">
				<h1 style="font-size: 1.5rem;">Amazon Web Services (AWS) proporciona una infraestructura TI basada en la nube ampliamente segura y elástica que le permitirá enfrentar sus necesidades de cómputo.</h1>
			</div>
		</div>
	</div>
</section>